div(class="create-user-form hidden-create-user-form")
    p(class="close-create")
        span &times;

    p(class="example-create")
        |Please enter a name and type of new file
        br 
        |(Example : filename.type)
    input(type="text", name="new-file-name", placeholder="filename.type")
    input(type="button", name="create-new-user-file", value="Create")