div(id="download", class="hidden-download")
  p
    span(style="color:red;font-weight:bold;") Warning! 
    |After downloading file will be deleted immediatly.
    br
    | If You want to store your files You can sign Up or sign In