div(class="edit-name hidden-edit-name")
    p(class="close-edit") 
        span &times;
    p(class="desc") You want rename : 
        span(class="old-name")
    input(name="new-name", type="text", placeholder="name.type")
    input(type="button", name="rename-btn", value="Rename")