section(id="create", class="hidden-create")
  form(method="POST")
    input(type="text", name="filename", placeholder="Enter your name and type like filename.(type)")
    textarea(id="field-text", rows="", cols="", name="file_text", class="file-text")
    div(class="buttons")
       input(type="button", name="create-save", value="Save")
       input(type="button", name="download", class="disabled", value="Download", disabled)