div(class="remove-file hidden-remove-file")
    p(class="close-remove") 
        span &times;
    p(class="desc") You want remove the next file : 
        span(class="remove-name")
    input(type="button", name="remove-btn", value="Remove file")