doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Welcome to Editor
        link(rel="stylesheet", type="text/css", href="css/editor.css")
        link(rel="stylesheet", type="text/css", href="css/upload.css")
        script(src="js/jquery-3.2.1.js") 
    body   
        include welcome-header
        include welcome-content
        include welcome-footer