footer(class="fixed")
    p All rights reserved &copy; 2017

script(type="text/javascript", src="js/additional.js")
script(type="text/javascript", src="js/sign.js")
script(type="text/javascript", src="js/jquery.custom-file-input.js")
script(type="text/javascript", src="js/download.js")
script(type="text/javascript", src="js/welcome.js")